{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {% for stock i stocks %}
        <tr>
            <td>{{ stock["symbol"] }}</td>
            <td>{{ stock["symbol"] }}</td>
            <td>{{ stock["symbol"] }}</td>
            <td>{{ stock["symbol"] }}</td>
            <td>{{ stock["symbol"] }}</td>
        </tr>
        {% end for %}
    </tbody>
    <tfoot>
    </tfoot>
</table>

{% endblock %}