ul{
    list-style-type: none;
    overflow: hidden;
    margin-right: 50px;
}

li{
    float: right;
}
li a{
    color:#0096FF ;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
}

li a :hover{
    text-decoration: underline;
}

.logo{
    margin-top: 50px;
    margin-bottom: 10px;
    text-align-last: center;
}

.glogo{
    width: 400px;
    height: 300px;
}

.imglogo{
    margin-top: 200px;
    margin-bottom: 10px;
    text-align-last: center;
}

.bar{
    margin: 0 auto ;
    width: 575px ;
    border-radius: 30px;
    border:1px solid #dcdcdc ;
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.searchbar{
    height: 45px;
    border: none;
    width: 500px ;
    outline: none;
    font-size: 16px;
    padding-left: 20px;
}

.icon{
    height: 20px;
    position: relative;
    top: 5px;
    left: 10px;
}

.buttons{
    margin-top: 30px;
    text-align: center ;
}

.button{
    background-color: #f5f5f5;
    border: none;
    font-size: 15px;
    color: #707070;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    outline: none;
}

.button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color: #808080;
}

.button :focus{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
}

#adiv1{
    margin-top: 10px;
    margin-left: 30px;
}

#adiv2{
    margin-left: 45px;
    margin-top: 30px;
}

#adiv