ul{
    list-style-type: none;
    overflow: hidden;
}

li{
    float: right;
}
 li a{
     color:#0096FF ;
     display: block;
     text-align: center;
     padding: 10px 10px;
     text-decoration: none;
     font-size: 14px;
 }

 li a :hover{
     text-decoration: underline;
 }

 .logo{
     margin-top: 200px;
     margin-bottom: 20px;
     text-align-last: center;
 }

 .bar{
     margin: 0 auto ;
     width: 575px ;
     border-radius: 30px;
     border:1px solid #dcdcdc ;
 }

 .bar :hover{
     box box-shadow: 1px #dcdcdc;
 }

 .bar :focus-within{
     box box-shadow: 1px #dcdcdc;
     outline: none;
 }
 