ul{
    list-style-type: none;
    overflow: hidden;
    margin-right: 50px;
}

.ad_ul{
    padding-bottom: 20px;
}

li{
    float: right;
}
li a{
    color:#0096FF ;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
}

li a :hover{
    text-decoration: underline;
}

.logo{
    margin-top: 50px;
    margin-bottom: 10px;
    text-align-last: center;
}

.glogo{
    width: 400px;
    height: 300px;
}

.imglogo{
    margin-top: 200px;
    margin-bottom: 10px;
    text-align-last: center;
}

.adimg0{
    width: 200px;
    height: 100px;
}

.bar{
    margin: 0 auto ;
    width: 575px ;
    border-radius: 30px;
    border:1px solid #dcdcdc ;
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.searchbar{
    height: 45px;
    border: none;
    width: 500px ;
    outline: none;
    font-size: 16px;
    padding-left: 20px;
}

.icon{
    height: 20px;
    position: relative;
    top: 5px;
    left: 10px;
}

.buttons{
    margin-top: 30px;
    text-align: center ;
}

.button{
    background-color: #f5f5f5;
    border: none;
    font-size: 15px;
    color: #707070;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color: #808080;
}

.button :focus{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
}

#div_navbar{
    margin-left: 45px;
}
#label_navbar{
    color: #d93025;
    font-size: 20px;
}

.input_label_left{
    font-size: smaller;
}

.input_label_right{
    font-size: 11px;
    color: #555;
}


.input_label_right_span{
    color: #666;
    font-family: monospace;
}

.input_box{
    order-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.div_row{
    margin-top: 10px;
}

#div_body_control{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
    font-family: arial,sans-serif;
}

.label1{
    font-family: auto;
}

#label_hdg_left{
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

#label_hdg_right{
    font-size: 13px;
    color: #777;
    font-weight: 700;
    vertical-align: middle;;
}

#col-4_adjust{
    flex: 0 0 auto;
    width: 33.33333333%;
    margin-left: -22px;
}

#span3{
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}